.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 50%;
}

.green {
  font-size: 100px;
  font-style: italic;
  color: red;
}

.red {
  font-size: 100px;
  font-style: italic;
  color: white;
}

.under {
  font-size: 100px;
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

.button {
  display: inline;
  background-color: rgba(1, 87, 163, 0.534);
  color: #e7e6e1;
  padding: 10px 30px;
  border-radius: 15px;
  margin: 50px 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
