.userData {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.sent {
  color: rgba(255, 255, 255, 0.5);
}

.add {
  cursor: pointer;
}

.add :hover {
  color: rgb(0, 255, 0);
}
