.container {
  display: grid;
  grid-template-columns: 0.2fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sideBar data";
}

.sideBar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  gap: 0px 0px;
  grid-area: sideBar;
  height: 80vh;
  padding-top: 20px;
  margin: 20px;
}

.search {
  grid-area: 1 / 1 / 2 / 2;
}
.friends {
  grid-area: 2 / 1 / 3 / 2;
}
.pending {
  grid-area: 3 / 1 / 4 / 2;
}

.data {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "upperData"
    "lowerData";
  grid-area: data;
  width: 98%;
  height: 100%;
}

.upperData {
  grid-area: upperData;
  padding-bottom: 5vh;
}

.lowerData {
  grid-area: lowerData;
  border-top: 10px solid rgb(38, 74, 118);
  border-left: 5px solid rgb(38, 74, 118);
  background-color: rgba(50, 50, 50, 0.32);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 15px 15px 10px rgb(0, 0, 0);
  padding: 20px;
  overflow: auto;
}

.active {
  color: #3391ff;
}

.search,
.friends,
.pending {
  cursor: pointer;
}

.search:hover,
.friends:hover,
.pending:hover {
  color: #3391ff;
}

.search:focus,
.friends:focus,
.pending:focus {
  color: #3391ff;
}

.incoming {
  display: flex;
  border-bottom: 3px solid rgba(255, 0, 0, 0.5);
  border-top: 3px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  padding-top: 1%;
  width: 50%;
  margin: auto;
  padding-bottom: 1%;
  justify-content: center;
}

.outgoing {
  display: flex;
  border-bottom: 3px solid rgba(255, 0, 0, 0.5);
  border-top: 3px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  padding-top: 1%;
  width: 50%;
  margin: auto;
  padding-bottom: 1%;
  justify-content: center;
}

.noFriends {
  display: flex;
  font-size: 50px;
  align-items: center;
  flex-direction: column;
}
