.buttons button {
  background-color: rgba(1, 87, 163, 0.534);
  color: #e7e6e1;
  padding: 10px 30px;
  border-radius: 15px;
  margin: 50px 20px;
}

.buttons button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(50, 50, 50, 0);
  padding-left: 10px;
  border-right: 0px;
}

.input:focus {
  outline: none;
}
