.logo {
  font-style: italic;
}

.red {
  color: red;
}

.blue {
  color: #3391ff;
}

.navLinks {
  display: flex;
  justify-content: space-between;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.under {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.active {
  color: #3391ff;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
